body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgb(218, 191, 169);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 12%;
    }
    
    .cabeçalho_titulo{
    font-size: 30px;
    }
    
    .cabeçalho_lista_item{
    margin: 30px 0px 30px 0px;
    font-size: 18px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(221, 186, 166), #d34e60);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 50px;
    }

    .imgsite img {
        width: 150px;
        height: 150px;
        border-top: 4px;
        border-left: 4px;
        border: 5px solid #5BBE42;
    }

    li {
        list-style-type: none;
    }
    
    h1 {
        color: #5e0c0c;
    }
    
    